* {
  margin: 0px;
  padding: 0px;
}
.header h2 {
  position: relative;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgb(0, 0, 147),
    rgb(35, 35, 192),
    rgb(81, 81, 255)
  );
  height: 100px;
}
.header img {
  position: absolute;
  height: auto;
}
.menu {
  position: relative;
  height: 50px;
  background: linear-gradient(
    to right,
    rgb(19, 19, 49),
    rgb(27, 27, 94),
    rgb(28, 28, 160)
  );
  display: flex;
  justify-content: right;
}

.menu table {
  width: 40%;
  text-align: right;
}

.menu table tr td a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu table tr td a:hover {
  color: rgb(75, 75, 246);
}
.main {
  position: relative;
  background-color: white;
  width: 80%;
  top: 0;
  left: 10%;
  height: 500px;
}

.tabela {
  position: absolute;
  width: 80%; /* Define a largura da tabela */
  left: 10%; /* Define a posição da tabela em relação ao lado esquerdo da página */
  top: 80px; /* Define a posição da tabela em relação ao topo da página */
  display: flex;
  justify-content: center; /* Centraliza a tabela horizontalmente */
  border-collapse: collapse; /* Remove as bordas entre as células da tabela */
}

.tabela table {
  width: 90%; /* Define a largura da tabela dentro da div .tabela */
  left: 10%; /* Define a posição da tabela em relação ao lado esquerdo da div .tabela */
  background-color: rgb(214, 214, 214); /* Define a cor de fundo da tabela */
  text-align: center; /* Centraliza o texto dentro das células da tabela */
  color: rgb(8, 8, 8); /* Define a cor do texto dentro das células da tabela */
}

.tabela th,
.tabela td {
  border: 3px solid rgb(39, 22, 147); /* Define a largura e a cor das bordas das células da tabela */
  font-size: 2vw; /* Define o tamanho da fonte do texto dentro das células da tabela */
  padding: 15px; /* Define o espaço entre o texto e as bordas das células da tabela */
  text-size-adjust: auto;
}

.tabela th {
  color: rgb(
    39,
    22,
    147
  ); /* Define a cor do texto dentro das células de cabeçalho da tabela */
}

.tabela tr:nth-child(even) {
  background-color: #ababab; /* Define a cor de fundo das linhas pares da tabela */
}

.tabela tr:hover {
  background-color: white; /* Define a cor de fundo das células da tabela ao passar o mouse por cima */
}

.titulo h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(206, 171, 255);
}
.titulo {
  position: relative;
  left: 20%;
  top: 10%;
  width: 10%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  position: relative;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: azure;
  bottom: 0;
}
